.header {
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 0rem;
}

.logo {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.0rem;
  font-weight: 200;
  letter-spacing: 0.02em;
  background: linear-gradient(to right, #4a320e, #ffd786);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}




/* .last-name {
  font-weight: 400;
} */


.navbar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.navbar a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #b38750;
}
